.container {
  max-width: $container-width + ($container-padding * 2);
  padding: 0 $container-padding;
  width: 100%;
  margin: 0 auto;
}

body {
  background-color: $color-bg-main;
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 1.4;
  color: $color-text;
}


h1 {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 700;
}

h2 {
  font-size: 40px;
  font-weight: 600; // SemiBold
  line-height: 1.2;
}

h3 {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.2;
}

h4 {
  font-size: 20px;
  font-weight: 600; // Medium
  line-height: 1.2;
}

// Основной текст
p {
  font-size: 16px;
  font-weight: 400; // Regular
}

.section{
  padding: 80px 0;
}

.text-center {
  text-align: center;}

.section__title{
  margin-bottom: 45px;

  &--breadcrumb{
    margin-bottom: 20px;
  }

  &--white {
    color: $color-white;}


    @include mobile {
      font-size: 28px;
    }

}



input {
    width: 100%;
    height: 50px;
    background: $color-bg-main !important;
    border: none;
    border-radius: 15px;
    padding: 0 25px;

    font-size: 16px;
    color: $color-text;
    box-shadow: 3px 3px 8px 0.5px rgba(0, 0, 0, 0.1);
    transition: $transition;

    &::placeholder {
      color: rgba(29, 53, 17, 0.5);
    }

    &:focus {
      outline: none;
      background: #fff !important;
      box-shadow: 0 4px 15px rgba(108, 192, 50, 0.1);
    }
  }


.page{
    padding: 200px 0 100px;


    @include mobile {
      padding: 170px 0 50px;
    }
  }


  .breadcrumbs {
  margin-bottom: 60px;

  &__list {
    display: flex;
    justify-self: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    gap: 10px;
  }

  &__item {
    display: flex;
    align-items: center;
    font-family: 'Gilroy', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: rgba($color-text, 0.5); // Неактивные пункты чуть светлее

    &:not(:last-child)::after {
      content: '\ea6e'; // Код иконки ri-arrow-right-s-line
      font-family: 'remixicon' !important;
      font-size: 16px;
      margin-left: 10px;
      color: rgba($color-text, 0.3);
      vertical-align: middle;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 6px;
    color: inherit;
    text-decoration: none;
    transition: $transition;

    i {
      font-size: 18px;
      line-height: 1;
      padding-bottom: 2px;
      margin-bottom: 2px; // Оптическая компенсация иконки
    }

    &:hover {
      color: $color-primary;
      
     
    }
  }

  &__current {
    color: $color-text;
    font-weight: 600;
  }


  @include mobile {
    margin-bottom: 30px;
  }
}