.container {
  max-width: $container-width + ($container-padding * 2);
  padding: 0 $container-padding;
  width: 100%;
  margin: 0 auto;
}

body {
  background-color: $color-bg-main;
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 1.4;
  color: $color-text;
}


h1 {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 700;
}

h2 {
  font-size: 40px;
  font-weight: 600; // SemiBold
  line-height: 1.2;
}

h3 {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.2;
}

h4 {
  font-size: 20px;
  font-weight: 600; // Medium
  line-height: 1.2;
}

// Основной текст
p {
  font-size: 16px;
  font-weight: 400; // Regular
}

.section{
  padding: 80px 0;
}

.text-center {
  text-align: center;}

.section__title{
  margin-bottom: 45px;

  &--white {
    color: $color-white;}

}



input {
    width: 100%;
    height: 50px;
    background: $color-bg-main !important;
    border: none;
    border-radius: 15px;
    padding: 0 25px;

    font-size: 16px;
    color: $color-text;
    box-shadow: 3px 3px 8px 0.5px rgba(0, 0, 0, 0.1);
    transition: $transition;

    &::placeholder {
      color: rgba(29, 53, 17, 0.5);
    }

    &:focus {
      outline: none;
      background: #fff !important;
      box-shadow: 0 4px 15px rgba(108, 192, 50, 0.1);
    }
  }


  