<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script src="js/main.min.js"></script>

<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__logo-block">
        <img
          src="images/footer-logo.png"
          alt="Day To Day Food"
          class="footer__logo"
        />
      </div>

      <div class="footer__header">
        <div class="footer__header--one">
          <h3>+7 (777) 777-77-77</h3>
          <span>С 9.00 до 21.00</span>
        </div>

        <div class="footer__header--two">
          <a href="mailto:day2dayfood@mail.ru">day2dayfood@mail.ru</a>
        </div>

        <div class="footer__header__three">
          <span>
            Фото носит иллюстративный характер. Внешний вид блюда может
            незначительно отличаться
          </span>
        </div>
      </div>

      <div class="footer__main">
        <div class="footer__col">
          <ul class="footer__list">
            <li><a href="#" class="footer__link">О компании</a></li>
            <li><a href="#" class="footer__link">Консультация</a></li>
            <li><a href="#" class="footer__link">Как это работает?</a></li>
            <li><a href="#" class="footer__link">Описание программ</a></li>
            <li><a href="#" class="footer__link">Акции и скидки</a></li>
          </ul>
        </div>

        <div class="footer__col">
          <ul class="footer__list">
            <li><a href="#" class="footer__link">Меню</a></li>
            <li><a href="#" class="footer__link">Личный кабинет</a></li>
            <li><a href="#" class="footer__link">Карта доставки</a></li>
            <li><a href="#" class="footer__link">FAQ</a></li>
          </ul>
        </div>

        <div class="footer__col">
          <div class="footer__socials">
            <span class="footer__socials-title">Мы в соцсетях:</span>
            <div class="footer__socials-icons">
              <a href="#" class="footer__social-link"
                ><i class="ri-telegram-2-fill"></i
              ></a>
              <a href="#" class="footer__social-link"
                ><i class="ri-instagram-line"></i
              ></a>
              <a href="#" class="footer__social-link"
                ><i class="ri-whatsapp-line"></i
              ></a>
            </div>
          </div>

          
        </div>

        <div>
           <span class="footer__photo-note">
            Фото носит иллюстративный характер. Внешний вид блюда может
            незначительно отличаться
          </span>
        </div>
      </div>
    </div>
  </div>
</footer>


<div class="modal modal-auth" id="login-modal">
  <div class="modal__overlay"></div>
  <div class="modal__content card">
    
    <button class="modal__close">
      <i class="ri-close-line"></i>
    </button>
    
   <div class="modal__inner">
  <h3 class="section__title js-modal-title text-center">Авторизуйтесь, чтобы продолжить</h3>

  <form action="#" class="modal-auth__form">
    <div class="modal-auth__reg-fields js-reg-only" style="display: none;">
      <div class="input-group">
        <label class="input-group__label">Имя <span class="input-group__required">*</span></label>
        <input type="text" class="input-group__input" placeholder="Иван">
      </div>
      <div class="input-group">
        <label class="input-group__label">Фамилия <span class="input-group__required">*</span></label>
        <input type="text" class="input-group__input" placeholder="Иванов">
      </div>
    </div>

    <div class="input-group js-phone-field">
      <label class="input-group__label">
        Номер телефона <span class="input-group__required">*</span>
      </label>
      <input type="tel" class="input-group__input" placeholder="+7 (707) 573-95-14" required>
    </div>

    <div class="input-group js-email-field" style="display: none;">
      <label class="input-group__label">E-mail <span class="input-group__required">*</span></label>
      <input type="email" class="input-group__input" placeholder="example@mail.com">
    </div>

    <div class="input-group input-group--password js-password-field">
      <label class="input-group__label">
        Пароль <span class="input-group__required">*</span>
      </label>
      <div class="input-group__field-wrap">
        <input type="password" class="input-group__input" placeholder="..............." required>
        <button type="button" class="input-group__eye-toggle"><i class="ri-eye-line"></i></button>
      </div>
    </div>

    <button type="submit" class="btn btn--green modal-auth__submit js-submit-btn">Войти</button>
  </form>

  <footer class="modal-auth__footer">
    <div class="modal-auth__link-block js-switch-to-reg">
      <p class="modal-auth__text">Впервые у нас?</p>
      <a href="#" class="modal-auth__link modal-auth__link--bold">Зарегистрируйтесь</a>
    </div>
    
    <div class="modal-auth__link-block js-switch-to-forgot">
      <p class="modal-auth__text">Воспользуйтесь функцией</p>
      <a href="#" class="modal-auth__link modal-auth__link--bold">Напомнить пароль</a>
    </div>

    <div class="modal-auth__link-block js-switch-to-login" style="display: none;">
      <p class="modal-auth__text">Уже есть аккаунт?</p>
      <a href="#" class="modal-auth__link modal-auth__link--bold">Войти</a>
    </div>
  </footer>
</div>
  </div>
</div>

</body>
</html>