<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@@title</title>
  <link rel="stylesheet" href="css/style.min.css">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link
  href="https://cdn.jsdelivr.net/npm/remixicon@4.9.0/fonts/remixicon.css"
  rel="stylesheet"
/>
</head>
<body>

  <header class="header">
    <div class="container">
      <div class="header__top-bar @@header_class">
        <a href="https://wa.me/yourlink" class="header__icon-link">
          <img src="images/svg/wa.svg" alt="WhatsApp" class="header__icon">
        </a>

        <nav class="header__nav header__nav--left">
          <a href="#" class="menu__link">О компании</a>
          <a href="#" class="menu__link">Меню</a>
        </nav>

        <a href="/" class="header__logo">
          <img src="images/logo.png" alt="Day To Day Food">
        </a>

        <nav class="header__nav header__nav--right">
          <a href="#" class="menu__link">Личный кабинет</a>
          <a href="#" class="menu__link">FAQ</a>
        </nav>

       <button class="header__burger" aria-label="Открыть меню">
  <span></span>
</button>
      </div>

      <div class="header__badge">
        Скидка 23% на первый заказ
      </div>
    </div>
  </header>

  
  <div class="mobile-menu" id="mobile-menu">
  <div class="container">
    <div class="mobile-menu__top">
      
      <div class="mobile-menu__socials">
        <a href="#" class="header__icon"><i class="ri-telegram-fill"></i></a>
        <a href="#" class="header__icon"><i class="ri-instagram-line"></i></a>
        <a href="#" class="header__icon"><i class="ri-whatsapp-line"></i></a>
      </div>
      
      <a href="#" class="btn btn--outline mobile-menu__btn btn-login-open">Войти в личный кабинет</a>
      
      <img src="images/logo.png" alt="Day To Day Food" class="mobile-menu__logo">
      
      <button class="mobile-menu__close" id="mobile-menu-close">
        <i class="ri-close-line"></i>
      </button>

    </div>

    <nav class="mobile-menu__nav">
      <a href="#" class="mobile-menu__link">О нас</a>
      <a href="#" class="mobile-menu__link">Меню</a>
      <a href="#" class="mobile-menu__link">Личный кабинет</a>
      <a href="#" class="mobile-menu__link">Частые вопросы</a>
      <a href="#" class="mobile-menu__link">Описание программ</a>
      <a href="#" class="mobile-menu__link">Бесплатная консультация</a>
    </nav>
  </div>
</div>